services:
  - type: web
    name: sigma-pli
    runtime: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: "3.12.0"
      - key: DATABASE_URL
        value: postgresql://neondb_owner:npg_7XxRJmUIM3ZT@ep-fancy-shape-adn1qz4b-pooler.c-2.us-east-1.aws.neon.tech/sigma-pli?sslmode=require
      - key: ENABLE_POSTGRES
        value: "true"
      - key: ENABLE_NEO4J
        value: "false"
