openpyxl
neo4j
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
asyncpg
python-multipart
jinja2
python-jose[cryptography]
passlib[bcrypt]
aiofiles
email-validator
aiohttp
httpx
sqlalchemy
python-dateutil
