/* Wrapper CSS canônico para Cadastro de Usuário */
@import url("/static/css/M01_auth/style_cadastro_usuario.css");
/* REMOVED: este arquivo CSS foi limpo e será recriado pela Onda 1 conforme as orientações do usuário. */
